<mat-toolbar color="primary">
  <a mat-mini-fab routerLink="." matTooltip="Go home">
    <mat-icon>home</mat-icon>
  </a>
  <span class="example-spacer"></span>
  <span>Angular Material App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button [mat-menu-trigger-for]="menu">
    <mat-icon >menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      Redial
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      Check voicemail
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      Disable alerts
    </button>
  </mat-menu>
</mat-toolbar>
